@use "./styles/partials/reset" as *;
@import './styles/partials/mixins';

.App {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  .footer {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    &-icon {
      height: 32px;
      cursor: pointer;
    }
  }
}