@import '../../styles/partials/mixins';

.homepage {
  margin-top: 80px;
  @include display-flex(column,center,center);

  .list {
    @include display-flex(column,center,center);
    padding: 1rem;
    // max-width: 60%;
    @include tablet {
      max-width: 700px;
      padding: 2rem;
    }
  }
}